body {
    background-image: url("background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.jumbotron {
    visibility: hidden;
}

.navbar {
    background-image: url("background.png");
    background-size: 100%;
}


/*
.navbar-header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}*/


/*.hidden {
                display: none;
            }
            
            .dropbtn {
                background-color: black;
                color: white;
                padding: 8px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                display: inline-block;
                margin-left: 10px;
            }
            .dropdown {
                position: absolute;
                margin-left: 200px;
             
            }
            
            html {
                height: 100%;
            }
            
         
            .artist {
                display: inline-block;
                font-size: 20px;
            }
            
            .band {
                size: 20px;
            }
            
            .ArtistSongs {
                font-size: 20px;
            }
            
            .ArtistPicture {
                width: 10px;
                height: 10px;
            }
            
            .ArtistPicture image {
                width: 100%;
                height: auto;
            }
            
            #albumsOfSongs {
                display: inline-block;
                position: absolute;
                margin-left: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            
            #SearchBar {
                display: inline-block;
            }
            
            .SearchBar {
                margin-top: -35px;
            }
            
            .jumbotron {
                background-image: url(pic/up.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            
            .navbar {
                position: absolute;
                margin-left: 80%;
                width: 200px;
                height: 75px;
            }
            
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }
            
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
            
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }
            
            .dropdown:hover .dropdown-content {
                display: block;
            }
            
            .dropdown:hover .dropbtn {
                background-color: #3e8e41;
            }*/