{{#each this}}
<div class="artists">
    <p>{{this.name}}</p>
    <p class="band">{{bandHeIsPartOf}}</p>
    <div class="ArtistPicture">
        <img src="/pic/test.png">

    </div>

    <div id="ArtistSongs">
        <ul class="list-group">
            {{#each albums}}
            <li class="list-group-item">{{this.title}}</li>
            {{/each}}
        </ul>
    </div>
</div>
{{/each}}